@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Weather Forecast!</h1>
</div>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card border-primary mb-3">
                @* <div class="card-header bg-primary text-white">
                    <h2 class="card-title text-center">Welcome to WeatherNET</h2>
                </div> *@
                <div class="card-body">
                    <p class="card-text">
                        Welcome to <strong>WeatherNET</strong>, a hobby project crafted with passion and curiosity. This platform leverages the power of the <strong>Pirate Weather API</strong> to bring you a comprehensive range of weather data. Whether you're looking for the current weather conditions, daily forecasts, hourly updates, or even minutely details, WeatherNET has got you covered.
                    </p>
                    <p class="card-text">
                        But that's not all! To ensure accuracy and relevance, we've integrated the <strong>Google Maps API</strong> for geocoding. This means you can input any location and we'll fetch the most accurate weather data for that specific area.
                    </p>
                    <p class="card-text">
                        Dive in, explore, and let the skies unfold their stories for you. Whether you're planning your day or just curious about the weather patterns, WeatherNET is here to assist.
                    </p>
                </div>
                <div class="card-footer bg-transparent border-primary text-center">
                    <a href="/Weather/GetWeatherBasedOnName" class="btn btn-primary">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</div>
