html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    /*background: linear-gradient(91.02deg,rgba(238,228,234,.8) -2.97%,rgba(238,217,237,.8) 6.02%,rgba(224,214,250,.8) 16.07%,rgba(211,225,251,.8) 25.99%,rgba(220,239,249,.8) 37.91%,rgba(236,243,252,.8) 54.63%,rgba(236,243,252,.8) 85.3%,rgba(218,233,217,.8) 99.12%),#EBF2FB;*/
    /*background: linear-gradient(91.02deg, rgba(189, 229, 252, 0.8) 0%, rgba(173, 216, 230, 0.8) 15%, rgba(240, 248, 255, 0.8) 70%, rgba(173, 216, 230, 0.8) 85%, rgba(189, 229, 252, 0.8) 100%), #EBF2FB;*/
    /*background: linear-gradient(90deg, rgba(169,255,254,1) 0%, rgba(239,252,255,1) 25%, rgba(203,249,255,1) 70%, rgba(244,219,255,1) 100%);*/

    background-color: rgb(242, 243, 247);
    /*background: linear-gradient(100deg, rgba(231,255,255,1) 0%, rgba(239,252,255,1) 32%, rgba(220,243,255,1) 48%, rgba(249,232,255,1) 100%);*/
}

/*Weather View*/
.weather-location-form {
    margin-bottom: 2rem;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 3px 6px #1d1e261a,0 1px 3px #1d1e261a;
}

.weather-card {
    box-shadow: 0 3px 6px #1d1e261a,0 1px 3px #1d1e261a;
}

.currently-weather-body h6 {
    color: #4f4f4f;
}