.weather-container {
    flex-grow: 1;
    background: linear-gradient(180deg, rgba(121,172,208,1) 0%, rgba(223,242,255,1) 100%);
}

.hero {
    /*background: linear-gradient(100deg, rgba(231,255,255,1) 0%, rgba(239,252,255,1) 32%, rgba(220,243,255,1) 48%, rgba(249,232,255,1) 100%);*/
}

.location-container {
    padding: 4rem;
    text-align: center;
}

.weather-location-form {
    background: transparent;
}


.location-input {
    box-shadow: 0 3px 6px #1d1e261a, 0 1px 3px #1d1e261a;
    border-radius: 30px;
    outline: none;
    border: none;
    padding: 15px 50px 15px 20px;
    line-height: normal;
}

.submit-button {
    position: absolute;
    top: 5px;
    right: 17px;
    bottom: 5px;
    padding: 0 30px;
}

/*=======================Today Forecast*/
.today-forecast {
    padding: 3rem;
}

.today-forecast-date {
    color: #444444;
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.6);
}

.today-forecast-location {
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.today-forecast-temperature {
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 6rem;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.today-forecast-temperature sup {
    margin-right: -30px;
}

/*========================Weather Icons*/
.weather-icon {
    background-repeat: no-repeat;
    width: 200px; /* adjust based on actual SVG size */
    height: 200px; /* adjust based on actual SVG size */
    display: inline-block; /* so the class behaves like an icon */
}

    .weather-icon.clear-day {
        background-image: url('/assets/images/weather-icons/clear-day.svg');
    }

    .weather-icon.clear-night {
        background-image: url('/assets/images/weather-icons/clear-night.svg');
    }

    .weather-icon.rain {
        background-image: url('/assets/images/weather-icons/rain.svg');
    }

    .weather-icon.snow {
        background-image: url('/assets/images/weather-icons/snow.svg');
    }

    .weather-icon.sleet {
        background-image: url('/assets/images/weather-icons/sleet.svg');
    }

    .weather-icon.wind {
        background-image: url('/assets/images/weather-icons/wind.svg');
    }

    .weather-icon.fog {
        background-image: url('/assets/images/weather-icons/fog.svg');
    }

    .weather-icon.cloudy {
        background-image: url('/assets/images/weather-icons/cloudy.svg');
    }

    .weather-icon.partly-cloudy-day {
        background-image: url('/assets/images/weather-icons/partly-cloudy-day.svg');
    }

    .weather-icon.partly-cloudy-night {
        background-image: url('/assets/images/weather-icons/partly-cloudy-night.svg');
    }

/* For medium screens and up,  add some top margin to the 'Use my location' button */
@media (min-width: 768px) {
    #useMyLocation {
        margin-top: 0.5rem;
    }
}