@{
    ViewData["Title"] = "Weather";
}
@model WeatherNET.Models.WeatherForecast.WeatherData

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">
            <div class="header">

            </div>
        </div>
    </div>
</div>
